<h1> Build Your Book Club </h1>
<br>
<%= render partial: "partials/errors", locals: {model: @club} %>
<%= form_for @club do |f| %>
    <%= f.label "name" %>
    <%= f.text_field "name" %>
    <%= f.label "meeting day" %>
    <%= f.text_field "meeting_day" %>
    <%= f.label "zoom link" %>
    <%= f.text_field "zoom_link" %>
    <%= f.submit "Create Club" %>
    <% end %>
